*.o
*.cc
*.pyc
*.dblite
*.dll
*.so
build_config.py
/install.bin*
/linux_bin_dist*
/patches*
/server*
/build/win32/Debug*
/build/win32/Release*
/build/linux2/Debug*
/build/linux2/Release*
