# Build system copied/modified from
# http://www.scons.org/cgi-bin/wiki/AdvancedBuildExample
# Original by zedshaw@zedshaw.com
import os
import glob

## This module requires libraries:
## ACE
## KadC
## reudp
## netcomgrp
## Qt
## Boost (for serialize)
## DirectX 7 lobby libs
## libz (needed by KadC)
## pthreadGC (needed by KadC)

qt_dir = '/path/to/qt_install'
# Only needed under Linux
# qt_pkg_config_path = os.path.join(qt_dir, 'lib/pkgconfig')
# Under windows can be empty:
qt_pkg_config_path = '';

## If libraries are in some non standard paths, specify them here
## Use convention <platform>/[Debug|Release]/library for the libs
## that support it
## Modify to suit your compiling environment
lib_search_path = ['#../../../libs/build/$BUILD_VARIANT',
                   'c:/Boost/lib',
                   '#../../libreudp/trunk/build/$BUILD_PLATFORM/$BUILD_VARIANT',
                   '#../../libdht/trunk/build/$BUILD_PLATFORM/$BUILD_VARIANT',
                   '#../../netcomgrp/build/$BUILD_PLATFORM/$BUILD_VARIANT']

## Where we should find things to include
## Modify to suit your compiling environment
include_search_path =  ['#../../../libs/ACE_wrappers',
                        'c:/Boost/include/boost-1_33',
                         # For KadC
                        '#../../../libs',
                        '#./src',
                        '#../../libreudp/trunk/src',
                        '#../../libdht/trunk/src',
                        '#../../netcomgrp/src']

libs = ['netcomgrp','reudp','dht','ACE',
        'KadC','pthreadGC','z',
        'liblibboost_serialization-mgw-s',
         # Needed by Qt (platform dependent?)
		'png',
		'tiff',
		'rt'
        
        # Win32 libs, TODO maybe put to build/win32
        'comctl32','ws2_32','winspool','mpr','m',
        'dpnlobby','dxguid','ole32']
defs = ['ACE_AS_STATIC_LIBS', ('ACE_NTRACE', 1),
        '__KADC_DO_NOT_REDEFINE_ALLOC_MACROS__',
        '_REENTRANT']
flgs = ['-Wall']

#### You should not change these.  These are only here
#### If you want to start your own build setup with a
#### different layout than mine.
source_base_dir = 'src'
resource_file   = 'resource.res'
build_base_dir = 'build'
target_name = 'rv_house'


